body {
  padding-left: 20vw;
  padding-right: 20vw;
  background-color: rgb(18, 18, 18);
  color: aliceblue;
  font-family:lato, sans-serif;
}

img {
  width: 500px;
  height: auto
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Monaco"
}

h1 {
  text-align: center;
}

a {
  color: aliceblue;
}

.center {
  text-align: center;
}

ol.center {
  text-align: justify;
  list-style-position: inside;
  padding-left: 22vw;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr {
  margin: 1.5em auto;
  border: 1px solid rgb(252, 192, 192, 10%);
}


div.elem {
  border: solid  #41937d 3px;
  margin: 10px auto;
  position: relative;
  padding-bottom: 20px;
}
.elem p {
  padding: 0 1em;
}

.label {
  background-color: #41937d;
  padding: 1px 5px 3px 2px;
  margin: 0;
  display: inline;
}

.endlabel {
  background-color: #41937d;
  padding: 3px 3px 0 5px;
  margin: 0;
  display: inline;
  position: absolute;
  bottom: 0;
  right: 0;

}

.container {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  height: 200px;
}

.container span {
  font-family: "Monaco", sans-serif;
  font-weight: bold;
  padding-top: 5px;
}

.container img {
  width: 200px;
  height: auto;
}
.v-container {
  height: 150px;
  width: 600px;
}
.v-container p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

button {
  padding: 7px;
  background-color: transparent;
  color: white;
  border: 1px solid #424242;
}